.pull-to-do {
  position: relative;
  padding-bottom: rem(48px);

  .show, .hide {
    position: absolute;
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s;
    min-height: rem(48px);
    z-index: 1;
  }

  .hide {
    opacity: 0;
    z-index: -1;
  }

  .bottom {
    top: auto;
    bottom: 0;
  }
}