.pull-to-do {
  position: relative;

  .show, .hide {
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 1;
    z-index: 2;
    transition: opacity 0.3s;
  }

  .hide {
    opacity: 0;
    z-index: -1;
  }

  .bottom {
    top: auto;
    bottom: 0;
  }
}