
.item-wrapper {
  position: relative;
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.left {
    padding-left: 0;
  }

  &.right {
    padding-right: 0;
  }

  &.both {
    margin: 0 $sideSpace;
    padding: 0;
  }

  .slide {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
  }
}