<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>滑块tab选项卡</title>
  <link rel="stylesheet" type="text/css" href="http://127.0.0.1:3333/nb-component/build/nb-component.css">
  <script src="http://127.0.0.1:3333/nb-component/build/nb-component.js"></script>
  <style type="text/css">
    html {
      font-size: 37.5px;
    }

    body {
      width: 10rem;
      min-height: 100vh;
    }

    .demo {
      font-size: .46rem;
    }
  </style>
</head>

<body>
  <div class="demo">
    <nb-tab-slide
      width="350"
    >
      <div class="item">必做</div>
      <div class="item">选做</div>
      <div class="item">提醒</div>
    </nb-tab-slide>
    <nb-tab-slide
    >
      <div class="item">必做</div>
      <div class="item">选做</div>
      <div class="item">提醒</div>
      <div class="item">必做</div>
      <div class="item">选做</div>
      <div class="item">提醒</div>
    </nb-tab-slide>
  </div>

  <script>
    const el = document.querySelector('nb-tab-slide');
    el.addEventListener('change', ({ detail }) => {
      console.log('选中第几个？', detail.index + 1);
    });
  </script>
</body>

</html>