.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .slide {
    width: rem(40px);
    height: rem(4px);
    background: #3E86F7;
    position: absolute;
    transition: left .2s ease;
  }
}