<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>轻提示演示</title>
  <link rel="stylesheet" type="text/css" href="http://127.0.0.1:3333/nb-component/build/nb-component.css">
  <script src="http://127.0.0.1:3333/nb-component/build/nb-component.js"></script>
  <style type="text/css">
    html {
      font-size: 37.5px;
    }

    body {
      width: 10rem;
      min-height: 100vh;
    }

    .demo {
      font-size: .46rem;
      height: 200vh;
    }
  </style>
</head>

<body>
  <div class="demo">
    <button onclick="hello()">hello</button>
    <button onclick="手动开()">手动开</button>
  </div>

  <script>
    const Toast = async function (message, opts = {}) {
      // 获取实际配置
      const options = {
        el: 'nb-toast',
        duration: 2000,
        position: 'center',
        maxLength: 480,
        theme: 'default',
        ...opts
      };
      // 组件 dom
      let el = document.querySelector(options.el);
      // 检查是否已经有组件存在页面上
      if (!el) {
        let newEl = document.createElement(options.el);
        document.body.appendChild(newEl);
        el = await new Promise(resolve => setTimeout(resolve, 100, newEl));
      }
      el.setAttribute('duration', options.duration);
      el.setAttribute('position', options.position);
      el.setAttribute('max-length', options.maxLength);
      el.setAttribute('theme', options.theme);
      return await el.show(message);
    };

    let closeHandler;

    function hello() {
      Toast('hello');
    }

    async function 手动开() {
      const 手动关 = await Toast('手动开，5秒后触发手动关闭手动开，5秒后触发手动关闭手动开，5秒后触发手动关闭', {
        duration: 0
      });
      setTimeout(() => {
        手动关();
      }, 100000);
    }
  </script>
</body>

</html>