@import '~minirefresh/dist/debug/minirefresh.css';

.minirefresh-theme-default .minirefresh-downwrap .downwrap-progress, .minirefresh-theme-default .minirefresh-upwrap .upwrap-progress {
    display: inline-block;
    width: rem(24px);
    height: rem(24px);
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-right: rem(8px);
    border-bottom-color: transparent;
    vertical-align: middle;
}
.minirefresh-theme-default .minirefresh-downwrap .downwrap-tips, .minirefresh-theme-default .minirefresh-upwrap .upwrap-tips {
    display: inline-block;
    font-size: rem(24px);
    color: #ccc;
    vertical-align: middle;
}