.vscroll-nav {
  .nav {
    list-style: none;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: rem(18px);
    color: #8C8C8C;
    font-size: rem(24px);
    line-height: rem(26px);
    z-index: 99;
  }
}