// ==============================
// 预设变量
// ==============================

// 大小相关
// ==============================
$global-font-size = 16px;


// 颜色相关
// ==============================
// 品牌 - 强调突出
$brand-strong-color = #FB5B4C;
// 主色、强调色、LINK
$brand-primary-color = #3E86F7;
$brand-main-color = $brand-primary-color;
$brand-link-color = $brand-primary-color;
// 点击后
$brand-primary-dark-color = #3778DD;
$brand-main-dark-color = $brand-primary-dark-color;
$brand-linked-color = $brand-primary-dark-color;
// 字体色 - 深灰
$font-dark-grey = #272727;
// 中灰
$font-middle-grey = #595959;
// 浅灰
$font-light-grey = #8C8C8C;
// 失效 暗提示
$font-disable-grey = #C7C7C7;
$font-tips-grey = $font-disable-grey;
// 界面 - 填充色
$layout-fill-bg-color = #FAFAFA;
// 背景色
$layout-bg-color = #F5F5F5;
// 分割线
$layout-hr-color = $layout-bg;
// 描边线
$layout-border-color = #D9D9D9;
// 状态 - 提示
$status-info-color = #4C98FC;
$status-info-bg-color = #E3EFFF;
// 成功
$status-success-color = #3BC49D;
$status-success-bg-color = #DAF4ED;
// 警告
$status-warn-color = #FFB24C;
$status-warn-bg-color = #FFF1DE;
// 出错
$status-error-color = #FF5E4C;
$status-error-bg-color = #FFE3E0;
// 图标颜色集合
$icon-color-1 = #FF8000;
$icon-color-2 = #F25C16;
$icon-color-3 = #32A8D9;
$icon-color-4 = #4C98FC;
// 标签颜色
$tag-color-1 = #FF7E71;
$tag-color-2 = #FEAE33;
$tag-color-3 = #60BDFD;
$tag-color-4 = #D4B57F;
// 按钮
$btn-primary-color = $brand-primary-color;
$btn-primary-active-color = darken($btn-primary-color, 10%);
$btn-primary-disable-color = grba($btn-primary-color, 0.4);
// 阴影
$shadow-1 = 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
$shadow-2 = 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
$shadow-3 = 0px 8px 32px 0px rgba(0, 0, 0, 0.1);
$shadow-4 = 0px 8px 48px 0px rgba(0, 0, 0, 0.1);
// 遮罩
$mask-page = rgba(0, 0, 0, 0.25);
$mask-toast = rgba(0, 0, 0, 0.75);