
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.left {
    padding-left: 0;
  }
  &.right {
    padding-right: 0;
  }
  &.both {
    margin: 0 $sideSpace;
    padding: 0;
  }
}